#modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


#handwraps-modal {
    opacity: 0;
    display: none; 
    position: absolute; 
    left: 25%; 
    top: 25%; 
    min-width: 50%; 
    min-height: 50%; 
    border: 6px solid black;
    background-color: white;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
}

#handwraps-modal-x-out {
    font-family: BEBASKAI; 
    position: absolute; 
    right: 1%; 
    top: 1%; 
    font-size: 36px;
    user-select: none;
}

#handwraps-modal-x-out:hover {
    cursor: pointer;
}