
body {
    font-family: "CARGO CRATE";
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    background-image: url(assets/japanese-wave-seamless-pattern-free-vector-whitened.jpg);
}
h1 {
    font-size: 80px;
    font-family: "CARGO CRATE";
    color: black;
    text-align: center;
    font-weight: normal;
}
h2 {
    font-size: 42px;
    text-align: center;
    font-weight: normal;
}
div {
    display: flexbox;
    align-items: center;
    text-align: left;
}





#header {
    background-image: url(assets/tessallate.png);
    padding: 1%;
    min-height: 180px;
}

#logo {
    position: absolute;
    left: 3%;
    top: 3%;
}



#navbar {
    height: 60px;
    min-width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

#total-wrapper {
    padding: 0px;
    margin: 0px;
}

#header-main {
    padding: 0px;
    margin: 1%;
}

#header-bottom {
    padding: 0px;
    margin: 1%;
}


.nav-element {
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    transition: color 0.25s ease-in-out;
}

.nav-element:hover {
    color: rgb(66, 157, 173);
    cursor: pointer;
}

.mouse-over {
    color: rgb(66, 157, 173);
}

.selected {
    color: rgb(66, 157, 173);
}

.deselected {
    color: rgb(255, 255, 255);
}

.container {
    margin-left: 400px;
    margin-right: 400px;
}


#our-story-container {
    /* margin-left: 400px; */
    /* margin-right: 400px; */
    transition: opacity 200ms ease-in-out;
    opacity: 1;
}

#products-container {
    opacity: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
    /* margin-left: 400px; */
    /* margin-right: 400px; */
}

.products-section-container {
    margin-top: 90px;
    margin-bottom : 40px;
    border-bottom: 2px solid black;
}

.product-sub {
    display: block;
    justify-content: space-between;
}

#contact-us-container {
    opacity: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
    /* margin-left: 400px; */
    /* margin-right: 400px; */
}

.contact-us-header-container {
    font-size: 40px;
    text-align: center;
}

.contact-us-header {
    text-align: center;
}

.contact-us-subtext {
    text-align: center;
    /* line-height: 30px; */
    font-size: 34px;
    line-height: 36px;
    font-family: "BEBASKAI";
}

.contact-us-section-container {
    margin-top: 20px;
    margin-bottom : 40px;
    text-align: center;
    /* text-align: center; */
    /* border-bottom: 2px solid black; */
}

.contact-us-subtext-container {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#contact-us-form {
    text-align: center;
    margin-top: 40px;
}

#contact-us-textarea {
    border: 6px solid black;
    min-width: 600px;
    min-height: 200px;
    /* font-size: 22px;
    font-family: "CARGO CRATE"; */
    font-size: 34px;
    line-height: 36px;
    font-family: "BEBASKAI";
    margin-top: 6px;
}

.contact-us-textareas-container {
    display: flex;
    flex-direction: column;
    font-size: 34px;
    line-height: 36px;
    font-family: "BEBASKAI";
}

.contact-us-info-input {
    border: 6px solid black;
    min-width: 600px;
    height: 30px;
    font-size: 22px;
    font-family: "CARGO CRATE";
    margin-top: 10px;
    margin-bottom: 10px;
}

#contact-us-form-button {
    font-family: "CARGO CRATE";
    border: 6px solid black;
    margin-top: 10px;
    font-size: 24px;
    color: white;
    background-color: rgb(66, 157, 173);
    min-height: 46px;
    min-width: 76px;
    padding: 10px;
}

#contact-us-form-button:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.product-img {
    margin-bottom: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

.product-description {
    margin-top: 30px;
    line-height: 36px;
}

.fade-out {
    opacity: 0;
}

.our-story-section-container {
    margin-top: 90px;
    margin-bottom : 40px;
    border-bottom: 2px solid black;
}

.our-story-section-paragraph {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 36px;
    font-family: "BEBASKAI";
}

#founders-images-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20%;
    margin-top: 60px;
}

.founder-description {
    text-align: center;
    margin-top: 10px;
}

#our-story-last-container {
    border-bottom: 0px;
}

#our-story-founders-title {
    text-align: center;
    color: rgb(0, 0, 0);
}

.founder-img {
    border: 12px solid rgb(0, 0, 0);
}

.center {
    text-align: center;
}

.founder-name {
    color: rgb(10 101 117);
}

.founder-title {
    font-size: 20px;
    color: rgb(10 101 117);
    margin-top: 10px;

}

.order-now-button {
    font-family: "CARGO CRATE";
    border: 6px solid black;
    margin-top: 10px;
    font-size: 24px;
    color: white;
    background-color: rgb(66, 157, 173);
    min-height: 46px;
    min-width: 76px;
    padding: 10px;
    /* margin-left: 10px; */
    /* margin-bottom: 20px; */
}

.order-now-button:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.order-now-container {
    /* min-height: 300px; */
}

.order-product-menu {
    margin-top: 80px;
    margin-bottom: 80px;
}

.order-product-form-inputs-container {
    margin-bottom: 40px;
}

.product-phone-input {
    border: 6px solid black;
    min-width: 200px;
    min-height: 40px;
}

.product-quantity-input {
    font-family: "CARGO CRATE";
    padding: 10px;
    border: 6px solid black;
    font-size: 16px;
}

#handwraps-order-subtext {
    margin-top: 20px;
    font-size: 24px;
}

.product-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product-top {
    display: flex;
    justify-content: space-between;
}

.product-bottom {
    display: block;
}



/* Existing styles remain unchanged */

@media (max-width: 768px) {

    .order-now-button {
        font-family: "CARGO CRATE";
        border: 6px solid black;
        margin-top: 10px;
        font-size: 24px;
        color: white;
        background-color: rgb(66, 157, 173);
        min-height: 46px;
        min-width: 76px;
        padding: 10px;
        /* margin-left: 10px; */
        /* margin-bottom: 20px; */
    }
    
    .order-now-button:hover {
        color: rgb(0, 0, 0);
        cursor: pointer;
    }
    
    .order-now-container {
        /* min-height: 300px; */
    }
    
    .order-product-menu {
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 22px;
    }
    
    .product-phone-input {
        border: 4px solid black;
        min-width: 100px;
        min-height: 40px;
    }
    
    .product-quantity-input {
        font-family: "CARGO CRATE";
        padding: 10px;
        border: 4px solid black;
    }





    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 28px;
    }

    #header {
        padding: 5%;
        min-height: 120px;
    }

    #logo {
        left: 50%;
        transform: translateX(-50%);
        top: 5%;
    }

    .nav-element {
        /* margin-left: 20px; */
        /* margin-right: 20px; */
        font-size: 18px;
        text-align: center;
    }

    #our-story-container,
    #products-container,
    #contact-us-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .founder-img {
        width: 100%;
        max-width: 200px;
    }

    .product-img {
        width: 100%;
        height: auto;
        max-width: 150px;
        display: none;
    }

    .contact-us-info-input,
    #contact-us-textarea {
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    .nav-element {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;
        text-align: center;
    }

    #logo {
        width: 100px;
    }

    .product-img {
        max-width: 150px;
    }

    .founder-img {
        max-width: 100px;
        border: 6px solid black;
    }
}



